<!DOCTYPE html>
<html>
<head>
  <title>ToDos</title>
  <link rel="stylesheet" href="bootstrap.min.css"/>
  <link rel="stylesheet" href="bootstrap-theme.min.css"/>
  <link rel="stylesheet" href="styles.css"/>
</head>
<body>

<div id="container">
  <% if flash[:notice] %>
      <p class="flash bg-success"><%= flash[:notice] %></p>
  <% end %>

  <%= yield %>
</div>

</body>
</html>