<div class="row">
  <div class="col-lg-6 col-lg-push-3">
    <p>Already have an account? <a href="/">Sign In</a></p>

    <h2>Register</h2>

    <form action="/registrations" method="post">
      <ul>
        <li>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" class="form-control"/>
        </li>
        <li>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" class="form-control"/>
        </li>
        <li>
          <input type="submit" value="Register" class="btn btn-success"/>
        </li>
      </ul>
    </form>
  </div>
</div>
