<p>Welcome, <%= current_user.username %></p>

<form action="/sessions" method="post">
  <input type="hidden" name="_method" value="delete"/>
  <input type="submit" value="Sign Out"/>
</form>

<h2>New ToDo</h2>

<form method="post" action="/todos">
  <ul>
    <li>
      <label for="body">ToDo</label>
      <input type="text" name="body" id="body"/>
    </li>
    <li>
      <input type="submit" value="Add ToDo"/>
    </li>
  </ul>
</form>
